.root {
  background-color: #23272a;
  height: 100vh;
  min-width: 375px;
}

.addMain {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 40px;
  width: 50%;
  font-family: "spartan", sans-serif;
  padding: 12px 20px 12px 20px;
}

.linkInput {
  display: flex;
  width: 50%;
  margin-left: 50px;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  background-color: #2c2f33;
  border: none;
  font-family: "spartan", sans-serif;

  outline: 1px solid #2c2f33;
}

.copyButton {
  outline: none;
  border: none;
  width: 60px;
  font-family: "spartan", sans-serif;
  margin-left: 10px;
  padding-left: 9px;
  color: white;
  background-color: rgb(85, 85, 85);
}

.copyButton:hover {
  background-color: rgb(143, 143, 143);
}

.visitLink {
  outline: none;
  border: none;
  width: 60px;
  margin-left: 10px;
  text-align: center;
  background-color: rgb(85, 85, 85);
  color: white;
  padding-top: 15px;
  font-family: "spartan", sans-serif;

  font-size: 14px;
}

.visitLink:hover {
  background-color: rgb(143, 143, 143);
}

.addClassInput {
  font-size: 14px;
  height: 38px;
  font-family: "spartan", sans-serif;
  padding-left: 10px;
  width: 100%;
  background-color: #2c2f33;
  border: none;
  font-family: "spartan", sans-serif;
  border-radius: 5px;
}

.addClassSearch:focus {
  outline: 0.5px solid rgb(182, 182, 182) !important;
}

.addClassButton {
  border: none !important;
  height: 38px;
  width: 50px;
  font-family: "spartan", sans-serif;
  background-color: rgb(143, 143, 143);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addClassButton:hover {
  background-color: rgb(192, 192, 192);
}

.reportBroken {
  border: none;
  height: 40px;
  width: 150px;
  font-family: "spartan", sans-serif;
  padding-top: 5px;
  border-radius: 5px;
  background-color: rgb(231, 175, 175);
  margin: auto;
}

.reportBroken:hover {
  background-color: rgb(187, 139, 139);
}

@media (max-width: 530px) {
  .visitLink {
    margin-right: 40px;
  }
}
