/* TRBL */
.root {
  background-color: #23272a;
  padding-bottom: 20px;
  height: 100vh;
}

.introContainer {
  margin-top: 0;
}

.legendContainer {
  display: flex;
  color: white;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.courseNameLegend {
  margin-left: 15px;
}

.verifiedLegend {
  margin-right: 130px;
}

.studyGroupLegend {
  margin-right: 13px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: auto;
  margin-top: 0px;
}

.search {
  padding: 13px 13px 13px 15px;
  font-size: 19px;
  width: 100%;
  background: transparent;
  border: 1px solid rgb(209, 209, 209);
  color: white;

  font-family: "spartan", sans-serif;

  border-radius: 2px;
}

.search:focus {
  outline: 0.5px solid rgb(182, 182, 182) !important;
}

.searchResultsContainer {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  outline: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.searchResultsList {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

.searchResult {
  display: flex;
  flex-direction: row;
  padding: 18px 20px 16px 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.searchResult:hover {
  background-color: #2c2f33;
}

.searchResultLast {
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
}

.courseName {
  display: block;
  width: 150px;
  padding-right: 20px;
  float: left;
}

.verified {
  display: block;
  margin-right: 105px;
  width: 125px;
}

.studyGroups {
  display: block;
  text-align: right;
  width: 30px;
}

.addClassInput {
  font-size: 16px;
  height: 38px;
  padding-left: 10px;
  width: 100%;
  background: #2c2f33;
  border: 2px solid #2c2f33;
  color: white;
  border-radius: 2px;
  margin-left: 12px;
  font-family: "spartan", sans-serif;
  text-transform: uppercase;
}

.addClassSearch:focus {
  outline: 0.5px solid rgb(182, 182, 182) !important;
}

.addClassButton {
  background-color: #7289da;
  color: white;
  border: none !important;
  height: 44px;
  font-size: 15px;
  padding-top: 2px;
  font-family: "spartan", sans-serif;
  width: 75px;
  margin-left: 5px;
  border-radius: 5px;
}

.addClassButton:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}

@media (max-width: 520px) {
  .courseNameLegend {
    margin-left: 15px;
  }

  .verifiedLegend {
    margin-right: 38px;
  }

  .studyGroupLegend {
    margin-right: 13px;
  }
  .courseName {
    display: block;
    width: 110px;
    padding-right: 10px;
    float: left;
  }

  .verified {
    display: block;
    margin-right: 26px;
    width: 125px;
  }

  .studyGroups {
    display: block;
    text-align: right;
  }
}
